<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="memberships" type="Authentication.Configuration.MembershipConfigurationHandler, Authentication"/>
  </configSections>
  
  <memberships>
    <memberuser name="test" password="testpassword" role="client"/>
    <memberuser name="hostuser" password="private" role="client,host"/>
  </memberships>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>