<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
    <system.serviceModel>
      <services>
        <service name="WCFCallback.Host.CalculatorService" behaviorConfiguration="metadataBehavior">
          <endpoint address="net.tcp://localhost:9003/CalculatorService/" binding="netTcpBinding" contract="WCFCallback.Contract.ICalculator"/>
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="metadataBehavior">
            <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/CalculatorService/metadata/"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
  </configuration>